@using WorkoutBuddy.BusinessLogic.Implementation.UserSplitColection.Models
@using WorkoutBuddy.Entities.Enums
@model UserWorkoutModel
@{
    ViewData["Title"] = "Add progress";
}

<div class="container" style="display:flex; justify-content:center">
    <div style="border: 6px solid #d4f0a5;border-radius: 0.6rem;padding: 1rem 2rem;width: 45rem; background-color: #393E46; color:  #d4f0a5">
        <h1 style="margin-left: -5%;border-bottom: 6px solid #d4f0a5;width: 110%; padding:0 0 3% 7%; color: #efefef">
            Add progress
        </h1>
        <form asp-action="AddProgress" id="addProgressForm">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input name="WorkoutId" value="@Model.WorkoutId" style="display:none" />
            <input name="SplitID" value="@Model.SplitId" style="display:none" />
            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input id="date" asp-for="Date" class="form-control" value="@DateTime.Now" />
                <span id="dateSpan" asp-validation-for="Date" class="text-danger"></span>
            </div>
            @for (var i = 0; i < Model.Exercises.Count; i++)
            {
                <div class="m-3">
                    <label>Exercise @(i+1):</label>
                    <div class="form-group card card-body" style="margin: 10px; background-color: #d4f0a5; color:#393E46" id="exercise_@i">
                        <h5 class="card-title">@Model.Exercises[i].ExerciseName</h5>
                        <hr />
                        <input name="Exercises[@i].ExerciseId" value="@Model.Exercises[i].ExerciseId" style="display:none" />
                        <div>
                            <label name="Exercises[@i].SetsNo" class="control-label">Number of sets:</label>
                            <input type="number" id="noOfSets_@i" name="Exercises[@i].SetsNo" class="form-control" />
                            <span id="validateSetsNo_@i" class="text-danger"></span>
                        </div>
                        <input name="Exercises[@i].ExerciseType" value="@Model.Exercises[i].ExerciseType" style="display:none" />
                    </div>
                </div>
            }
            <div style="text-align:center">
                <input type="submit" value="Add" class="btn" style="width: 60%; background-color:#d4f0a5" />
            </div>
        </form>
    </div>
</div>

@section Scripts{

    <script>
        $("#date").change(e => {
            $("#dateSpan").text("");
        })

        let setsInput = 0;
        let span = 0;
        let exerciseTypes =
        {
            '@nameof(ExerciseTypes.Cardio)': '@((int)ExerciseTypes.Cardio)',
            '@nameof(ExerciseTypes.WeightLifting)': '@((int)ExerciseTypes.WeightLifting)',
            '@nameof(ExerciseTypes.Calisthenics)': '@((int)ExerciseTypes.Calisthenics)',
        };

        @for (var i = 0; i < Model.Exercises.Count; i++)
        {
            <text>
                window['setsInput' + @i] = document.getElementById("noOfSets_@i")
                window['setsInput' + @i].onchange = e => {
                    span = document.getElementById("validateSetsNo_@i");
                    ClearSet('@i');
                    BuildSet(e.currentTarget.value, '@i', '@Model.Exercises[i].ExerciseType', exerciseTypes)
                    span.innerText = ""
                }
            </text>
        }

        let form = document.getElementById('addProgressForm')

        let ok = true;
        
        form.onsubmit = e => {
            let isValid = true;
            ok = VerifyDate();
            isValid = isValid && ok;

            @for (var i = 0; i < Model.Exercises.Count; i++)
            {
                <text>
                        ok = VerifyInputs('@i', window['setsInput' + @i].value);
                        isValid = isValid && ok;
                </text>
            }
            if (!isValid) {
                return false;
            }
            return true;
        }

    </script>
}
